<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ServerCraft</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <span class="brand-primary">Server</span>Craft
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Solutions", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Support", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Cart")">
                            Cart (<span id="cart-count">@(Session["CartCount"] ?? 0)</span>)
                        </a>
                    </li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - ServerCraft. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline">
                        <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                        <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>