<!-- Views/Home/Index.cshtml -->
@model List<servercraft.Models.ViewModels.ServerViewModel>
@{
    ViewBag.Title = SharedResource.Home;
}

<div class="jumbotron">
    <div class="container text-center">
        <h1>@SharedResource.EnterpriseServerSolutions</h1>
        <p class="lead">@SharedResource.EnterpriseServerSolutionsMessage</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-inline">
                    <div class="form-group" style="width: 70%;">
                        <input type="text" class="form-control" style="width: 100%;" placeholder="@SharedResource.SearchForServers">
                    </div>
                    <button type="submit" class="btn btn-primary">@SharedResource.Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_SearchFilter")
        </div>
        <div class="col-md-9">
            <h2>@SharedResource.FeaturedServers</h2>
            <div class="row">
                @foreach (var server in Model)
                {
                    <div class="col-md-4">
                        @Html.Partial("_ServerCard", server)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light-gray">
    <div class="container padding-vertical">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>@SharedResource.EnterpriseSupport</h3>
                        <p>@SharedResource.EnterpriseSupportMessage</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>@SharedResource.CustomSolutions</h3>
                        <p>@SharedResource.CustomSolutionsMessage</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>@SharedResource.WarrantyAndService</h3>
                        <p>@SharedResource.WarrantyAndServiceMessage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>